= simple_form_for @task, :defaults => { :html => { :class => 'form-vertical' } } do |f|
  = f.input :name, :autofocus => true
  = f.input :description, :input_html => { :class => 'description' }
  = f.input :deadline, :as => :string, :input_html => { :class => 'deadline' }
  - if @group.present?
    = f.input :group_id, :as => :hidden, :input_html => { :value => @group.id }
  = f.button :submit, :class => 'btn-primary'
  = link_to 'Cancel', :back, :class => 'btn btn-primary'