%h3 Project Information
= simple_nested_form_for @project, :defaults => { :html => { :class => 'form-vertical' } } do |f|
  = f.input :name, :autofocus => true
  = f.input :description, :as => :text, :input_html => { :class => 'description' }
  = f.input :deadline, :as => :string, :placeholder => 'YYYY-MM-DD', :input_html => { :class => 'deadline' }
  = f.association :tasks, :collection => @tasks, :multiple => true, :input_html => { :class => 'chzn-select' }

  = "For project  #{ @project.name }" unless @project.name.blank?
  = render('tasks_table', :f => f)
  = f.link_to_add "Add a task", :tasks, :class => "btn btn-primary", :data => { :target => "#tasks-table" }

  = f.button :submit, :class => 'btn-primary'
