%h3 Project Information
= form_for(@project, :html => {:class => "form form-vertical" }) do |f|
  %fieldset
    = f.text_field(:name)
    = f.text_area(:description)

  %fieldset
    = "For project  #{ @project.name }" unless @project.name.blank?
    = render('tasks_table', :f => f)
    = link_to_add_fields("Add a new Task", f, :tasks, :class => "btn btn-primary", :title => "Add a new Task to the list of Tasks for this project.")

  = f.submit("Save", :class => "btn btn-primary", :title => "Save the changes to this Project.")

/ # = simple_form_for @project, :defaults => { :html => { :class => 'form-vertical' } } do |f|
/ #   = f.input :name, :autofocus => true
/ #   = f.input :description, :ad => :text
/ #   = f.input :deadline, :as => :date
/ #   = f.association :tasks, :collection => @tasks, :multiple => true, :input_html => { :class => 'chzn-select' }
/ #   / # = link_to 'New Task', new_task_path, :data => { :remote => :true, :target => '#js-new-task', :toggle => 'modal' }, :class => 'btn btn-primary js-new-task-button'
/ #   %a.btn{'href' => '#new-task-modal', 'data-toggle' => 'modal'} New Task
/ #   = f.button :submit, :class => 'btn-primary'