%tr
  %td= truncate(task.name, :length => 30, :omission => '...')
  %td= task.deadline.strftime('%Y-%m-%d')
  %td= task.completed
  %td= link_to 'View', task_path(task)
  %td= link_to 'Edit', edit_task_path(task)
  %td= link_to '  <i class="icon-ok"></i>  '.html_safe, task_complete_task_path(:task_id => task.id), :method => :post
  %td= link_to '  <i class="icon-remove"></i>  '.html_safe, task_path(task), :method => :delete, :confirm => 'Are you sure you want to delete this task?'