%table#tasks-table.table.table-hover
  %thead.row
    %th Name*
    %th Description
    %th Deadline*
    %th Completed
    %th
  %tbody
    = f.simple_fields_for :tasks, :wrapper => false do |tasks_form|
      %tr.fields
        %td
          = tasks_form.input :id, :as => :hidden
          = tasks_form.input :name, :label => false, :input_html => { :class => 'small-table-column' }
        %td
          = tasks_form.input :description, :label => false, :input_html => { :class => 'description-table' }
        %td= tasks_form.input :deadline, :as => :string, :label => false, :placeholder => 'YYYY-MM-DD', :input_html => { :class => 'small-table-column deadline' }
        %td= tasks_form.input :completed, :label => false
        %td
          = tasks_form.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }
          = tasks_form.link_to_remove '<i class="icon-remove"></i>'.html_safe, :title => "Delete this Task."