%h1 Projects:
%table.table.table-hover.table-striped
  %tr
    %th Name
    %th Deadline
    %th Total Tasks
    %th Tasks Completed
    %th Tasks Left
    %th Complete?
    %th
    %th
    %th
  - @projects.each do |project|
    %tr
      %td= project.name
      %td= project.deadline
      %td= project.tasks.count
      %td= project.completed_tasks.count
      %td= project.uncompleted_tasks.count
      %td= project.completed? ? 'Completed' : 'In Progress'
      %td= link_to 'Show', project
      %td= link_to 'Edit', edit_project_path(project)
      %td= link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br/
= link_to 'New Project', new_project_path