%div.clearfix
  %h3.pull-left= @project.name
  = link_to 'Edit Project', edit_project_path(@project), :class => 'pull-right btn btn-primary'
  = link_to 'Manage Tasks', edit_project_path(@project, :tasks_only => true), :class => 'pull-right btn btn-primary'
%p= "Project Owner: #{@project.user_name}"
-if @group.present?
  %p= "Group: #{link_to @group.name, group_path(@group)}".html_safe
-if @project.deadline.present?
  %p= "This project is due on #{@project.deadline.strftime('%Y-%m-%d')}"
%p= "Details: <br>#{@project.description}".html_safe
-if @tasks.present?
  %div.clearfix
    %h3.pull-left Tasks for this project:
  %div.accordion{ :id => 'taskAccordion' }
    - @tasks.each do |deadline, tasks|
      %div.accordion-group
        %div.accordion-heading.clearfix
          %a.accordion-toggle.pull-left{ :data => { :toggle => 'collapse', :target => "##{deadline}" } }
            = deadlineString(deadline)
          %i.icon-plus.pull-right{ :id => "#{deadline}-icon" }
        %div.accordion-body.collapse{ :id => deadline }
          %div.accordion-inner
            %table.table.table-striped
              %thead
                %tr
                  %th Name
                  %th Deadline
                  %th Completed
                %tbody
                  = render :partial => 'task', :collection => tasks, :as => :task
-else
  = "This project has no tasks associated with it."