!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "TskIt"
    %meta{:content => content_for?(:description) ? yield(:description) : "TskIt", :name => "Organize yourself and your team on the cloud with TskIt, the web's best task manager."}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)
  %body
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          = render 'layouts/messages'
          = yield
        %footer